@using TicariOtomasyon.Models.Siniflar
@model List<Sale>
@{
    ViewBag.Title = "DepEmployeeSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Sales</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color:black">Employee Name: @ViewBag.dEmp</li>
</ol>
<table id="tbl10" class="table table-hover">
    <thead>
        <tr>
            <th>Sale Id</th>
            <th>Product</th>
            <th>Customer</th>
            <th>Price</th>
            <th>Piece</th>
            <th>Sale Cost</th>
            <th>Date</th>
            <th>Print</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SaleID</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Customer.CustomerName @item.Customer.CustomerSurname</td>
                <td>@item.SalePrice</td>
                <td>@item.SaleNumber</td>
                <td>@item.SaleCost</td>
                <td>@item.SaleDate</td>
                <td><a href="#" class="btn btn-default" style="background-color:deepskyblue">Print</a></td>
            </tr>
        }

    </tbody>
</table>
<link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- DataTables JS ve jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>



<script>

    $('#tbl10').dataTable({});

</script>